{% extends 'layouts/base.html'%}

{% block content %}
<h1>about</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam sit, odio vel laborum enim nulla veritatis quidem debitis reprehenderit at nostrum earum repellat perferendis quod fugiat consequuntur alias. Ea hic autem exercitationem ullam? Suscipit, quod. Sint harum nesciunt aut consequatur voluptate sunt, magnam odit temporibus voluptatum culpa, repellendus doloribus nisi praesentium totam corporis! Quasi iusto explicabo fugiat ex nihil, quidem sed vitae soluta expedita nisi iste quos similique et blanditiis sint minus quisquam id suscipit? Nam facilis dolorum placeat quibusdam quo quae ducimus! Excepturi iusto, nobis facilis aut consectetur vitae, placeat ea id voluptas, quam animi quae ut ad quos.</p>


<p>Website created by {{username}}</p>
{% endblock %}
